.signup-box{
    width: 350px;
    height: 460px;
    margin: auto;
    border-radius: 3px;
    background: #f4f4f4;
    margin-top: 7px;
}
.login-box{
    width: 360px;
    margin: auto;
    height: 300px;
    background: #f4f4f4;
    border-radius: 3px;
    margin-top: 50px;

}
.error-txt{
    font-size: 12px;
    color: red;
}
#myReset{
    margin-top: 10px;
    color: green;
}
#h1{
    text-align: center;
    padding-top: 10px;
}
#myForm {
width: 300px;
margin:0 20px 0 20px;
}
#myForm  label{
    display: flex;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}
#myForm input{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}
#myForm input[type="submit" ]{
    width: 320px;
    margin-top: 20px;
    background:black;
    color: white;
    font-size: 15px;
}
.para-2{
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    
}


footer{
    position: fixed;
    background: black;
    width: 100%;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    }

footer{
    height: 50px;
    }
    footer h4{
        margin-top: 2px;
        font-size: 12px;
    
    }
    .socialicons a{
        text-decoration: none;
        color: black;
        padding: 5px;
        background-color: white;
        border-radius: 7px;
    }
    .socialicons a i{
        padding: 5px;
        opacity: 0.9;
        color: black;
        font-size: 14px;
        margin-top: 5px;
    }
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }
    header{
        background: black;
        color: white;
        height: 60px;
        display: flex;
        justify-content: space-between;  
        align-items: center;
        padding: 0 30px;
    }
    
    
    header ul li a{
        font-weight: bold;
        cursor: pointer;
        color: #f4f4f4;
        
    }
    header ul li a:hover{
        border: 1px solid black;
        background: white;
        transition: 0.1s;
        color: black;
        padding: 5px;
    }
    .list{
        display: flex;
    }
    ul{
        gap:10px;
    }
    li{
        margin: 20px;
    }


.header-active{
    background: white;
    padding: 5px;
    color: black;
    
    }